@font-face {
    font-family: firaSans;
    src: url('../../assets/fonts/FiraSans-Regular.ttf');
}

body {
    margin: 0;
    font-family: firaSans;

    /*http://subtlepatterns.com/3px-tile/*/
    background-image: url('../../assets/images/px.png');
}

#content {
    text-align: center;
    margin-top: 80px;
}

#ribbon {
    text-align: right;
    color: white;
    background-color: rgba(75,15,25, .65);
    width: 100%;
    padding: 7px;
}

#ribbon .btn-group {
    display: inline-block;
    padding-right: 12px;
}

.panel {
    text-align: left;
    max-width: 90%;
    display: inline-block;
}

.panel-body {
    padding: 30px;
}

#login-form {
    display: inline-block;
}

#login-form input {
    display: block;
    margin-bottom: 20px;
}